<div class="loginPage">

  <!-- LOGIN / REGISTER -->
  <div class="loginRegisterGroup">

    <!-- LOGIN -->
    <div class="loginGroup" [formGroup]="this.loginForm">

      <!-- TITLE -->
      <h4 class="loginTitleClass">Welcome!</h4>

      <!-- SEPARATOR -->
      <hr class="separator">

      <!-- USERNAME -->
      <div class="usernameClass">
        <input class="usernameInputClass" type="text" placeholder="Username" formControlName="username" (keyup.enter)="login()">
      </div>

      <!-- PASSWORD -->
      <div class="passwordClass">
        <input class="passwordTextClass" type="password" placeholder="Password" formControlName="password" (keyup.enter)="login()">
      </div>

      <!-- ERROR MESSAGE -->
      <p class="errorMessageClass" [hidden] = "!this.showError || !this.loginForm.pristine">
        {{this.errorMessage}}
      </p>

      <!-- LOGIN BUTTON -->
      <button mat-stroked-button color="primary" class="loginButtonClass" (click)="login()">Login</button>

    </div>

    <!-- REGISTER -->
    <div class="registerGroup">

      <p class="registerClass">New User? <a routerLink="/register">Sign-Up</a></p>
      <p class="continueAsGuestClass"><a routerLink="/browse">Continue as Guest</a></p>

    </div>


  </div>

</div>
