
<div class="exportClass">

  <!-- FORMAT -->
  <div class="formatClass">
    <label for="ddm">Export Format</label>
    <div id="ddm" class="dropdown">
      <button id="dd" class="btn btn-light dropdown-toggle optionsButtonClass" data-toggle="dropdown">{{this.exportFormat}}</button>
      <div class="dropdown-menu ddmClass">
        <div class="dropdown-item" (click)="setExportFormat('JSON')">JSON</div>
        <div class="dropdown-item" (click)="setExportFormat('XML')">XML</div>
      </div>
    </div>
  </div>

  <hr class="dividerClass">

  <!-- START DATE -->
  <div class="dateTime">
    <label for="sd" [ngClass]="{'errorClass': this.submitCommitted && !this.startDateValid}">Start Date</label>
    <date-time-picker id="sd" (dateTimeEmitter)="getDateTime($event,true)"></date-time-picker>
  </div>


  <!-- END DATE -->
  <div class="dateTime">
    <label for="ed" [ngClass]="{'errorClass': this.submitCommitted  && !this.endDateValid}">End Date</label>
    <date-time-picker id="ed" (dateTimeEmitter)="getDateTime($event,false)"></date-time-picker>
  </div>


  <!-- EXPORT BUTTON-->
  <button class="btn btn-dark exportButtonClass" (click)="submit()">Export</button>

</div>
