
.export{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.dateTime{
  display: flex;
  flex-direction: column;
  margin-top: 12%;
}

.divider{
  width: 100%;
}

#startDate{
  font-size: small;
}

#endDate{
  font-size: small;
}

label{
  font-size: small;
}

#dropdownMenu{
  margin-top:5%;
  margin-left: 10%;
}

.exportButton{
  margin-top:20%;
  width: 100%;
}

.error{
  color: red;
}
