
.exportClass{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.dateTime{
  display: flex;
  flex-direction: column;
  margin-top: 12%;
}

.dividerClass{
  width: 100%;
}


#sd{
  font-size: small;
}

#ed{
  font-size: small;
}

label{
  font-size: small;
}

#ddm{
  margin-top:5%;
  margin-left: 10%;
}

.exportButtonClass{
  margin-top:20%;
  width: 100%;
}


.errorClass {
  color: red;
}
