
<div class="export">

  <!-- FORMAT -->
  <div>
    <label for="dropdownMenu">Export Format</label>
    <div id="dropdownMenu" class="dropdown">
      <button class="btn btn-light dropdown-toggle" data-toggle="dropdown">{{this.exportFormat}}</button>
      <div class="dropdown-menu">
        <div class="dropdown-item" (click)="setExportFormat('JSON')">JSON</div>
        <div class="dropdown-item" (click)="setExportFormat('XML')">XML</div>
      </div>
    </div>
  </div>

  <hr class="divider">

  <!-- START DATE -->
  <div class="dateTime">
    <label for="startDate" [ngClass]="{'error': this.submitCommitted && !this.startDateValid}">Start Date</label>
    <date-time-picker id="startDate" (dateTimeEmitter)="getDateTime($event,true)"></date-time-picker>
  </div>

  <!-- END DATE -->
  <div class="dateTime">
    <label for="endDate" [ngClass]="{'error': this.submitCommitted  && !this.endDateValid}">End Date</label>
    <date-time-picker id="endDate" (dateTimeEmitter)="getDateTime($event,false)"></date-time-picker>
  </div>

  <!-- EXPORT BUTTON-->
  <button mat-stroked-button color="primary" class="exportButton" (click)="submit()">Export</button>

</div>
