
.registerClass{
  display: flex;
  flex-direction: row;
  min-width: 100vh;
  height: 100vh;
}

.registerForm{

}

.rowMargin{
  margin-top: 1%;
}

.form-control{
  background: transparent;
  box-shadow: none;
}



.mapClass{
  margin: 2% 1% 2% 0;
  width: 40%;
}

.errorMessage{
  margin: 0 0 0 1%;
  font-size: small;
  color: red;
}

.mainInfoClass{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.fieldLabel{
  font-weight: bold;
  font-size: medium;
}

.usernameClass{
  width: 47%;
}

.tinClass{
  width: 47%;
  margin-left: 2%;
}

.passwordsClass{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.passwordClass{
  width: 47%;
}

.confirmPasswordClass{
  width: 47%;
  margin-left: 2%;
}

.passwordIconClass{
  align-self: end;
  width: 10%;
  background-color: transparent;
  padding: 0;
  border: none;
  margin-bottom: 2.5%;
}

.firstLastClass{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.firstnameClass{
  width: 47%;
}

.lastnameClass{
  width: 47%;
  margin-left: 2%;
}

.contactInfoClass{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.emailClass{
  width: 47%;
}

.phoneNumberClass{
  width: 47%;
  margin-left: 2%;
}

.additionalInfoClass{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.residenceClass{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.streetNameClass{
  width: 47%;
}

.streetNumberClass{
  width: 47%;
  margin-left: 2%;
}


.extendedResidenceClass{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.countryClass{
  width: 47%;
}

.zipCodeClass{
  width: 47%;
  margin-left: 2%;
}




.submitClass{
  margin: 2% 0 0 0;
  width: 100%;
  border-radius: 4px;
  height: 30px;
  font-weight: bold;
}

.errorClass {
  color: red;
}

.textField{
  font-size: small;
}


.mapWrapper{
  border: rgba(128, 128, 128, 0.17) 1px solid;
  height: 20vh;
  width: 100%;
  padding: 0.5%;
  margin: 2% 0 0 0;
}
