
.registerClass{
  display: flex;
  flex-direction: row;
  min-width: 100vh;
  height: 100vh;
}

.rowMargin{
  margin-top: 1%;
}

.form-control{
  background: transparent;
  box-shadow: none;
}



.mapClass{
  margin: 2% 1% 2% 0;
  width: 40%;
}

.errorMessage{
  margin: 0 0 0 1%;
  font-size: small;
  color: red;
}

.fieldLabel{
  font-weight: bold;
  font-size: medium;
}



.passwordsClass{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}


.submitClass{
  margin: 2% 0 0 0;
  width: 100%;
  border-radius: 4px;
  height: 30px;
  font-weight: bold;
}

.errorClass {
  color: red;
}

.textField{
  font-size: small;
}


.mapWrapper{
  border: rgba(128, 128, 128, 0.17) 1px solid;
  height: 40vh;
  width: 100%;
  padding: 0.5%;
  margin: 2% 0 0 0;
}
