
.registerClass{
  display: flex;
  flex-direction: row;
  min-width: 100vh;
  height: 100vh;
}

.mapClass{
  margin-top: 2%;
  width: 40%;
}

.form-control{
  background: rgba(0, 0, 255, 0.11);
}

.registerFormClass{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 3%;
  width: 57%;
}

.errorMessage{
  margin: 0 0 0 1%;
  font-size: small;
  color: red;
}

.mainInfoClass{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.usernameClass{
  width: 47%;
}

.tinClass{
  width: 47%;
  margin-left: 2%;
}

.passwordsClass{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.passwordClass{
  width: 47%;
}

.confirmPasswordClass{
  width: 47%;
  margin-left: 2%;
}

.passwordIconClass{
  align-self: end;
  width: 10%;
  background-color: transparent;
  padding: 0;
  border: none;
  margin-bottom: 2.5%;
}

.firstLastClass{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.firstnameClass{
  width: 47%;
}

.lastnameClass{
  width: 47%;
  margin-left: 2%;
}

.contactInfoClass{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.emailClass{
  width: 47%;
}

.phoneNumberClass{
  width: 47%;
  margin-left: 2%;
}

.additionalInfoClass{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.residenceClass{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.streetNameClass{
  width: 47%;
}

.streetNumberClass{
  width: 47%;
  margin-left: 2%;
}


.extendedResidenceClass{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
}

.countryClass{
  width: 47%;
}

.zipCodeClass{
  width: 47%;
  margin-left: 2%;
}




.submitClass{
  margin-top: 6.5%;
  width: 60%;
  border-radius: 4px;
  height: 30px;
  margin-left: 18%;
  background: rgba(173, 216, 230, 0.55);
}

.errorClass {
  color: red;
}


