<div class="daterangeClass">
  <div [formGroup]="dateGroup">
    <mat-form-field appearance="fill">

      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="startDate" readonly  placeholder="01/01/2022">
        <input matEndDate formControlName="endDate" readonly placeholder="01/01/2023">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
</div>
