<div class="newMessage" [formGroup]="this.messageForm">

  <!-- RECIPIENT -->
  <div class="recipient">
    <label for="recipient" class="customLabel"
           [ngClass]="{'error': this.submitCommitted && this.messageForm.get('recipient')?.invalid}">Recipient</label>
    <input id="recipient" class="form-control" formControlName="recipient">
  </div>

  <!-- SUBJECT -->
  <div class="subject">
    <label for="subject" class="customLabel"
           [ngClass]="{'error': this.submitCommitted && this.messageForm.get('title')?.invalid}">Subject</label>
    <input id="subject" class="form-control" formControlName="title">
  </div>

  <!-- BODY -->
  <textarea class="body form-control" formControlName="body"
            [ngClass]="{'errorOutline': this.submitCommitted && this.messageForm.get('body')?.invalid}"></textarea>

  <button id="sendButton" class="btn btn-outline-primary sendButton" (click)="sendMessage()">Send</button>

</div>
