
.messageDialogClass{
  width: 65vh;
  height: fit-content;
  padding: 0;
  margin: 0;
}

.otherUserRole{
  font-size: medium;
  font-weight: bold;
}


.otherUser{
  font-size: medium;
}

.subjectLabel{
  font-size: medium;
}

.subject{
  min-height: 55px;
  font-size: small;
  word-break: break-all;
  overflow-y: auto;
}



.content{
  font-size: small;
  word-break: break-all;
  min-height: 150px;
  overflow-y: auto;
}
