<div class="messageDialog">

  <div class="container">

    <div class="row">
      <label class="otherUserRole" for="userRole">{{this.otherUserRole}}</label>
      <p class="form-control otherUser" id="userRole">{{this.otherUser}}</p>
    </div>

    <div class="row">
      <label class="subjectLabel" for="subject">Subject</label>
      <p class="form-control subject" id="subject">{{this.subject}}</p>
    </div>

    <div class="row">
      <p class="form-control content">{{this.paragraph}}</p>
    </div>

  </div>

</div>
