* {
  box-sizing: border-box;
}

.images{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  width: 100%;
  aspect-ratio: 3;
  padding: 0;
  margin: 0;
  height: 23vh;
}

.image{
  height: 100%;
  width: 50%;
  padding: 0;
  margin: 0;
}

.nextImage{
  color: black;
  border: rgba(128, 128, 128, 0.12) 1px solid;
  position: absolute;
  font-size: large;
  width: 25%;
  padding: 0;
  margin: 0;
  height: 100%;
  top: 0;
  box-shadow: none;
  background: transparent;
  right: 0;
}

.previousImage{
  color: black;
  border: rgba(128, 128, 128, 0.12) 1px solid;
  background: transparent;
  position: absolute;
  font-size: large;
  width: 25%;
  padding: 0;
  margin: 0;
  height: 100%;
  top: 0;
  box-shadow: none;
  left: 0;
}

.nameField{
  font-size: small;
  word-break: break-all;
  min-height: 40px;
  overflow-y: auto;
}

.buyPriceField{
  font-size: small;
}

.totalBidsField{
  font-size: small;
}

.currentBidField{
  font-size: small;
}

.startDateField{
  font-size: small;
  overflow-y: auto;
}

.dueDateField{
  font-size: small;
  overflow-y: auto;
}

.locationField{
  font-size: small;
  word-break: break-all;
  min-height: 40px;
  overflow-y: auto;
}

.descriptionField{
  font-size: small;
  word-break: break-all;
  min-height: 100px;
  overflow-y: auto;
}

.auctionBids{
  margin: 0;
  min-height: 94vh;
  justify-content: center;
}

.group{
  max-width: 100%;
  margin: 4% 0 !important;
}

.team{
  padding: 0;
  margin: 0 0 0 2%;
}

.fieldLabel{
  font-weight: bold;
  font-size: medium;
}

.stickyText{
  padding: 0 0.4%;
  margin: 0;
  width: fit-content;
  font-size: medium;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.split{
  max-width: 46%;
}

.auction{
  width: 40%;
  margin: 1.5% 0 0 0;
}

.other{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 99%;
  padding: 0.5% 0 0;
  margin: 1% 1% 0 0;
  width: 59%;
  align-items: center;

}

.cards{
  display: flex;
  padding: 1% 0 0 0;
  flex-direction: column;
  align-items: center;
}

.card{
  width: 40%;
  padding: 0;
  margin: 0 0 0.5% 0;
}


.customTable{
  border: 1px red solid;
  font-size: small;
  text-align: center;
}

.bidHead{
  height: 30px;

}

.bidRow{
  height: 50px;
}

.omegaWrapper{
  margin: 0;
  border: 1px solid pink;
  min-height: 95vh;
}


.pagination{
  height: 5vh;
  border: 1px green solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.stickyLabel{
  font-size: medium;
  font-weight: bold;
}

.pageBar{
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: row;
}

.previousPage{
  height: 100%;
  width: 33%;
  text-align: center;
  font-size: medium;
  font-weight: bold;

}

.pageValue{
  height: 100%;
  width: 33%;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

.nextPage{
  height: 100%;
  width: 33%;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}
