
<search-bar></search-bar>
<div style="margin-top: 4%" class="container">


  <div class="row">

    <div class="col-6">
      <div class="form-group" style="padding: 5px">
        <label for="username" style="font-weight: bold; font-size: medium">Username</label>

        <p style="font-weight: 400" class="form-control" id="username">{{this.userForm.get('username')!.value}}</p>

      </div>
    </div>


    <div class="col-6">
      <div class="form-group" style="padding: 5px">
        <label for="tin" style="font-weight: bold; font-size: medium">TIN</label>
        <p style="font-weight: 400" class="form-control" id="tin">{{this.userForm.get('tin')!.value}}</p>
      </div>
    </div>


  </div>


  <div class="row">

    <div class="col-6">
      <div class="form-group" style="padding: 5px">
        <label for="first-name" style="font-weight: bold; font-size: medium">First Name</label>
        <p style="font-weight: 400" class="form-control" id="first-name">{{this.userForm.get('firstname')!.value}}</p>
      </div>
    </div>


    <div class="col-6">
      <div class="form-group" style="padding: 5px">
        <label for="last-name" style="font-weight: bold; font-size: medium">Last Name</label>
        <p style="font-weight: 400" class="form-control" id="last-name">{{this.userForm.get('lastname')!.value}}</p>
      </div>
    </div>


  </div>


  <div class="row">
    <div class="col-6">
      <div class="form-group" style="padding: 5px">
        <label for="email" style="font-weight: bold; font-size: medium">E-Mail</label>
        <p style="font-weight: 400; padding: 5px" class="form-control" id="email">{{this.userForm.get('email')!.value}}</p>
      </div>
    </div>


    <div class="col-6">
      <div class="form-group" style="padding: 5px">
        <label for="phone" style="font-weight: bold; font-size: medium">Phone</label>
        <p style="font-weight: 400" class="form-control" id="phone">{{this.userForm.get('phone')!.value}}</p>

      </div>
    </div>

  </div>


  <div class="row">

    <div class="col-3">
      <div class="form-group" style="padding: 5px">
        <label for="country" style="font-weight: bold; font-size: medium">Country</label>
        <p style="font-weight: 400" class="form-control" id="country">{{this.userForm.get('country')!.value}}</p>
      </div>
    </div>


    <div class="col-3">
      <div class="form-group" style="padding: 5px">
        <label for="zipcode" style="font-weight: bold; font-size: medium">Zip Code</label>
        <p style="font-weight: 400" class="form-control" id="zipcode">{{this.userForm.get('zipCode')!.value}}</p>
      </div>
    </div>

    <div class="col-6">
      <div class="form-group" style="padding: 5px">
        <label for="location" style="font-weight: bold; font-size: medium">Location</label>
        <p style="font-weight: 400" class="form-control" id="location">
          {{this.userForm.get('streetName')!.value}}  {{this.userForm.get('streetNumber')!.value}}</p>

      </div>
    </div>


  </div>


  <a href="#" style="width: 70%; transform: scaleY(1.3); margin: 8% 15% 0" class="col btn btn-success btn-raised">Approve</a>
</div>
