* {
  box-sizing: border-box;
}

/*       */

.container{
  margin-top: 4%
}

.lbl {
  font-size: small;
}

.txt{
  font-size: 120%;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.spread{
  margin: 4% 0 0 14%;

}

.userLabel{
  font-size: medium;
  margin: 0 0 4% 0.5%;
  font-family: "Yu Gothic UI Semibold";
}

.userField{
  border: none;
  border-bottom: rgba(128, 128, 128, 0.48) 1.7px solid;
  padding: 0 0 0 1.8%;
  font-size: small;
  background: transparent;
  font-weight: 1;
}

.userForm{
  align-items: center;
  background: white;
  /*  */
  height: 100vh;
}

.userDetails{
  background: linear-gradient(10deg, rgba(211, 211, 211, 0.4),white);
  border: 1px rgba(0, 0, 0, 0.19) solid;
  box-shadow: 2px 2px rgba(128, 128, 128, 0.51);
  border-radius: 16px;
  width: 70%;
  margin: 2% 0 0 0;
  align-items: start;
  padding: 0 0 5%;
}

.username{
  width: 30%;
}

.firstLast{
  width: 80%;
}

.firstname, .lastname{
  padding: 0;
  width: 37.5%;
  margin: 0;
}



.emailPhone{
  width: 80%;
}

.email, .phone{
  padding: 0;
  width: 37.5%;
  margin: 0;
}


.addrNum{
  width: 80%;
}

.streetName, .streetNumber{
  padding: 0;
  margin: 0;
  width: 37.5%;
}


.zipTin {
  width: 80%;
}

.zipCode, .tin{
  padding: 0;
  margin: 0;
  width: 37.5%;
}

.lastname, .phone, .streetNumber, .tin{
  margin-left: 16%;
}

.approveUser{
  width: 80%;
}

.approveButton{
  width: 96%;
  margin: 8% 2% 0;
  padding: 1%;
  font-weight: bold;
  color: white !important;
}

