


.alertDialog{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: rgba(128, 128, 128, 0.58) 2px solid;
  border-radius: 5px;
  width: 55vh;
  height: 25vh;
  margin: 0;
}

.alertMessage{
  font-family: "Yu Gothic", sans-serif;
  font-size: large;
  font-weight: 1;
  width: 100%;
  text-align: center;
  padding: 0 3%;
  margin: 10% 0 0;
}

.alertButtonArea{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 5% 0 0 0;

}

.acceptButton{
  border-radius: 50px;
  width: 50%;
  background: rgba(211, 206, 206, 0.22);
  box-shadow: none;
  border: gray 1px solid;
  color: black;
  font-weight: 1;
}

.acceptButton:active, .acceptButton:hover{
  background: rgba(169, 164, 164, 0.22);
}

.acceptButtonText{
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-size: medium;
}
