<div class="myBids">
  <!-- BIDS + PAGINATION -->
  <div class="bidsAndPagination">
    <!-- CARDS -->
    <div class="cards">
      <!-- CARD -->
      <mat-card class="card" *ngFor="let thumbnail of this.bidThumbnails; let i=index">
        <!-- CARD IMAGE -->
        <div class="cardImage">
          <!-- IMAGE -->
          <img class="image" (click)="moreInfo(i)"
               src="{{this.serverLink}}{{this.serverParameter}}/{{thumbnail.auctionID}}/{{thumbnail.images[imageLinks[i]]}}">
          <!-- NEXT IMAGE -->
          <button class="page-link nextImage fa fa-angle-right fa-2x" (click)="getNextImage(i)"></button>
          <!-- PREVIOUS IMAGE -->
          <button class="page-link previousImage fa fa-angle-left fa-2x" (click)="getPreviousImage(i)"></button>
        </div>

        <div class="cardContent">

          <!-- NAME -->
          <mat-card-title class="auctionName" (click)="moreInfo(i)">{{thumbnail.auctionName}}</mat-card-title>

          <!-- DATE-->
          <div class="date">
            <label for="dateField" class="textLabel">Date</label>
            <mat-card-content id="dateField"
                              class="dateField">{{utilService.reformatDate(thumbnail.submissionDate)}}</mat-card-content>
          </div>

          <!-- BID -->
          <div class="bid">
            <label for="highestBid" class="textLabel">Amount</label>
            <mat-card-content id="highestBid" class="highestBid">
              ${{this.utilService.reformatNumber(thumbnail.amount)}}</mat-card-content>
          </div>
        </div>
      </mat-card>

    </div>

    <!-- PAGINATION -->
    <div class="pagination">

      <div class="paginationBar">

        <!-- PREVIOUS PAGE BUTTON -->
        <button class="page-link previousPage" (click)="getPreviousPage()" [hidden]="this.totalPages<1"
                [disabled]="this.pageIndex<=1">&laquo;
        </button>

        <!-- PAGE VALUE BUTTON -->
        <div class="page-link pageValue" [hidden]="this.totalPages<1">{{this.pageIndex}}
          / {{this.totalPages}}</div>

        <!-- NEXT PAGE BUTTON -->
        <button class="page-link nextPage" (click)="getNextPage()" [hidden]="this.totalPages<1"
                [disabled]="this.pageIndex>=this.totalPages">
          &raquo;
        </button>
      </div>
    </div>
  </div>
</div>
