<div class="myBidsClass">

  <!-- BIDS + PAGINATION -->
  <div class="bpGroup">

    <!-- CARDS -->
    <div class="cardsGroup">

      <!-- CARD -->
      <mat-card class="cardClass" *ngFor="let thumbnail of this.bidThumbnails; let i=index">


        <!-- CARD IMAGE -->
        <div class="cardImageClass">
          <!-- IMAGE -->
          <img class="imageClass" (click)="moreInfo(i)"
               src="{{this.serverLink}}{{this.serverParameter}}/{{thumbnail.auctionID}}/{{thumbnail.images[imageLinks[i]]}}">
          <!-- NEXT IMAGE -->
          <button class="page-link nextImageClass fa fa-angle-right fa-2x" (click)="getNextImage(i)"></button>
          <!-- PREVIOUS IMAGE -->
          <button class="page-link previousImageClass fa fa-angle-left fa-2x" (click)="getPreviousImage(i)"></button>
        </div>


        <div class="cardContent column">

          <!-- NAME -->
          <h5 class="auctionName" (click)="moreInfo(i)">{{thumbnail.auctionName}}</h5>

          <!-- DATE-->
          <div class="date">
            <label for="dateField" class="textLabel">Date</label>
            <p id="dateField" class="dateField">{{utilService.reformatDate(thumbnail.submissionDate)}}</p>
          </div>

          <!-- BID -->
          <div class="bid">
            <label for="highestBid" class="textLabel">Amount</label>

            <p id="highestBid" class="highestBid">${{this.utilService.reformatNumber(thumbnail.amount)}}</p>

          </div>






        </div>



        <!-- CARD CONTENT -->
        <!--<div class="cardContentClass" (click)="moreInfo(i)">
          <mat-card-title class="auctionNameClass">{{thumbnail.auctionName}}</mat-card-title>
          <mat-card-subtitle class="submissionDateClass">On {{utilService.reformatDate(thumbnail.submissionDate)}}</mat-card-subtitle>
          <mat-dialog-content class="amountClass">You bid {{this.utilService.reformatNumber(thumbnail.amount)}} $</mat-dialog-content>
        </div>-->

      </mat-card>

    </div>

    <!-- PAGINATION -->
    <div class="paginationClass">

      <div class="paginationBarClass">

        <!-- PREVIOUS PAGE BUTTON -->
        <button class="page-link previousPageClass" (click)="getPreviousPage()" [hidden]="this.totalPages<1"
                [disabled]="this.pageIndex<=1">&laquo;
        </button>

        <!-- PAGE VALUE BUTTON -->
        <div class="page-link pageValueClass" [hidden]="this.totalPages<1">{{this.pageIndex}}
          / {{this.totalPages}}</div>

        <!-- NEXT PAGE BUTTON -->
        <button class="page-link nextPageClass" (click)="getNextPage()" [hidden]="this.totalPages<1"
                [disabled]="this.pageIndex>=this.totalPages">
          &raquo;
        </button>

      </div>


    </div>

  </div>

</div>
