* {
  box-sizing: border-box;
}

.myAuctionsClass {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 100%;
}

.filtersGroup {
  border-right: rgba(128, 128, 128, 0.58) 1px solid;
  border-left: rgba(128, 128, 128, 0.58) 1px solid;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: 100%;
  align-items: center;
}

.auctionLabel{
  align-self: start;
  margin: 8% 0 1% 16%;
  padding-left: 1%;
  font-weight: bolder;
  font-size: medium;
  font-family: "Century Gothic", sans-serif;
}

.auctionStateClass {
  display: flex;
  flex-direction: column;
  width: 70%;
}


.buttonClass {
  padding-left: 5%;
  width: 100%;
  margin: 2.5% 0 0;
  color: gray;
}

.buttonTitle{
  font-size: small;
  font-weight: 1;
  padding: 0;
  margin:0 !important;
  font-family: "Century Gothic", cursive, sans-serif;
}

/* ----------------------------------------------------------------------------------------------------------------- */

.apGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-height: 93vh;
}

.cardsGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cardClass {
  padding: 1% 1% 0.5% 1%;
  height: 28vh;
  min-height: 200px;
  width: 98%;
  margin: 0.5%;
  display: flex;
  flex-direction: row;

}

.cardImageClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 25%;
  border: rgba(207, 211, 208, 0.29) 1px solid;
}

.imageClass{
  height: 100%;
  width: 80%;
}

.nextImageClass{
  height: 100%;
  width: 10%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: none;
  border: none;
  background: transparent;
}

.previousImageClass{
  height: 100%;
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: none;
  border: none;
  background: transparent;
}

.cardContentClass {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 75%;
}

.auctionNameClass, .endDateClass, .cardButtonsClass, .locationClass{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.auctionNameClass {
  font-size: x-large;
  font-weight: 600;
  padding: 0 1%;
  margin: 0;
  height: 2em;
}

.endDateClass {
  margin: 0;
  padding: 0 1%;
  height: 2em;
}

.textLabel{
  font-weight: bold;
  font-size: medium;
  margin: 0.5% 0 0 1%;
}

.locationClass{
  padding: 0 1%;
  margin: 0;
  height: 2em;
}

.cardButtonsClass {
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactButtonClass {
  height: 90%;
  width: 99%;
  margin: 0.5% 0 0 0;

}


.updateDeleteClass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.updateButtonClass, .deleteButtonClass {
  margin: 1% 0 0 0;
  width: 49.3%;
  height: 40px !important;
}

.updateButtonClass{
  margin-left: 1%;
}

/* ----------------------------------------------------------------------------------------------------------------- */

.paginationClass{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width: 100%;
}

.paginationBarClass{
  background-color: #c9d2d2;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.previousPageClass{
  height: 100%;
  width: 30%;
}

.pageValueClass{
  height: 100%;
  width: 40%;
}

.nextPageClass{
  height: 100%;
  width: 30%;
}

.cardText{
  font-size: 120%;
}
