
<search-bar></search-bar>

<div class="registerForm container" [formGroup]="auctionForm">

  <!-- NAME -->
  <div class="row rowMargin">
    <div class="col">
      <label class="fieldLabel" for="name" [ngClass]="{'errorClass': this.submitCommitted && this.auctionForm.get('name')?.invalid}">Name</label>
      <input type="text" id="name" class="form-control textField" formControlName="name">
    </div>
  </div>

  <div class="row rowMargin">
    <div class="col">
      <label class="fieldLabel" for="description" [ngClass]="{'errorClass': this.submitCommitted && this.auctionForm.get('description')?.invalid}">Description</label>
      <input type="text" id="description" class="form-control textField" formControlName="description">
    </div>
  </div>


  <div class="row rowMargin">

    <div class="col-6">
      <label class="fieldLabel" for="firstBid" [ngClass]="{'errorClass': this.submitCommitted && this.auctionForm.get('firstBid')?.invalid}">First Bid</label>
      <input type="text" id="firstBid" class="form-control textField" formControlName="firstBid">
    </div>

    <div class="col-6">
      <label class="fieldLabel" for="buyNow" [ngClass]="{'errorClass': this.submitCommitted && this.auctionForm.get('buyNow')?.invalid}">Buy Now</label>
      <input type="text" id="buyNow" class="form-control textField" formControlName="buyNow">
    </div>

  </div>


  <div class="row rowMargin">
    <div class="col">
      <label class="fieldLabel" for="address" [ngClass]="{'errorClass': this.submitCommitted && !this.geolocationValid}">Street Name</label>
      <app-geo-location id="address" [addressName]="extractAddressName()" (geoAddress)="getGeolocationAddress($event)" (geoState)="updateBarsState($event)"></app-geo-location>
    </div>
  </div>


  <div class="row rowMargin">

    <div class="col-4">
      <label class="fieldLabel" for="streetNumber" [ngClass]="{'errorClass': this.submitCommitted && this.auctionForm.get('streetNumber')?.invalid}">Street Number</label>
      <input type="text" id="streetNumber" class="form-control textField" formControlName="streetNumber">
    </div>

    <div class="col-4">
      <label class="fieldLabel" for="zipCode" [ngClass]="{'errorClass': this.submitCommitted && this.auctionForm.get('zipCode')?.invalid}">Postal Code</label>
      <input type="text" id="zipCode" class="form-control textField" formControlName="zipCode">
    </div>

    <div class="col-4">
      <label class="fieldLabel" for="country" [ngClass]="{'errorClass': this.submitCommitted && this.auctionForm.get('country')?.invalid}">Country</label>
      <input type="text" id="country" class="form-control textField" formControlName="country">
    </div>

  </div>


  <div class="row rowMargin">

    <div class="col-4">

      <div style="display: flex; flex-direction: column">
        <label class="fieldLabel" for="dateTimePicker" [ngClass]="{'errorClass': this.submitCommitted && !this.dateValid}">End Date</label>
        <date-time-picker class="textField" id="dateTimePicker" [dateTimeValue]="this.auctionForm.get('endDate')?.value" (dateTimeEmitter)="getDateTime($event)"></date-time-picker>
      </div>


    </div>

    <div class="col-4">



        <label class="fieldLabel" for="dropdownMenu" [ngClass]="{'errorClass': this.submitCommitted && this.selectedCategories.length==0}">Categories</label>

        <ng-multiselect-dropdown id="dropdownMenu" class="textField"
                                 [settings]="this.dropdownSettings"
                                 [placeholder]="'Categories'"
                                 [data]="this.categories"
                                 (onSelect)="addCategory($event)"
                                 (onSelectAll)="addCategories($event)"
                                 (onDeSelect)="removeCategory($event)"
                                 (onDeSelectAll)="clearCategories()">
        </ng-multiselect-dropdown>


    </div>

    <div class="col-4">
      <label class="fieldLabel" for="fileUpload">Images</label>
      <input style="font-size: small" id="fileUpload" type="file" accept="image/png,image/jpeg" (change)="fileUpload($event)" multiple>
    </div>

  </div>


  <div class="mapWrapper">
    <app-map class="mapClass" [isInteractive]="true" [latitude]="extractLatitude()" [longitude]="extractLongitude()" (mapAddress)="getMapsAddress($event)"></app-map>
  </div>


  <button class="btn btn-success btn-raised submitClass" (click)="submitForm()">Submit</button>

</div>








