<search-bar  [invisible]="true"></search-bar>

<div class="homePage column">

  <!-- TITLE -->
  <div class="recommendationTitle" *ngIf="showRecommendations">
    <h1 class="title">Recommendations</h1>
  </div>

  <!-- SLIDER -->
  <div class="slider row" *ngIf="showRecommendations">

    <!-- SLIDE LEFT BUTTON-->
    <button class="slideLeftButton fa fa-angle-left fa-2x" (click)="slide(true)"></button>

    <!-- SLIDE RIGHT BUTTON-->
    <button class="slideRightButton fa fa-angle-right fa-2x" (click)="slide(false)"></button>

    <!-- RECOMMENDATIONS -->
    <div id="recommendations" class="recommendations row">

      <!-- EACH RECOMMENDATION -->
      <mat-card class="recommendation column" *ngFor="let recommendation of this.recommendations; let i = index">

        <!-- IMAGES -->
        <div class="images row">

          <!-- IMAGE -->
          <img class="image" (click)="viewRecommendation(i)"
               src="https://localhost:8443/media/{{recommendation.id}}/{{recommendation.images[activeImages[i]]}}">

          <!-- NEXT IMAGE -->
          <button class="page-link next nextImage fa fa-angle-right fa-2x" (click)="getNextImage(i)"></button>

          <!-- PREVIOUS IMAGE -->
          <button class="page-link next previousImage fa fa-angle-left fa-2x  " (click)="getPreviousImage(i)"></button>



        </div>

        <div class="content">

          <!-- NAME -->
          <mat-card-title class="cardName">{{recommendation.name}}</mat-card-title>

          <!-- HIGHEST BID -->
          <mat-card-content class="highestBid">From ${{this.utilService.reformatNumber((recommendation.highestBid>recommendation.firstBid ? recommendation.highestBid : recommendation.firstBid))}}
            </mat-card-content>

          <!-- LOCATION -->
          <mat-card-content class="location">
            Located in {{recommendation.country}} !
          </mat-card-content>

        </div>


      </mat-card>


    </div>

  </div>






</div>
