* {
  box-sizing: border-box;
}

.inboxGroup{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.ipGroup{
  background: #f6fbff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 93vh;
  border-left: rgba(128, 128, 128, 0.58) 1px solid;
}

.cardsGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.stickyCardClass{
  height: 10vh;
  width: 90%;
  margin: 0.5%;
  display: flex;
  flex-direction: row;
}

.cardClass {
  height: 10vh;
  width: 90%;
  margin: 0.5%;
  display: flex;
  padding-top: 2%;
  flex-direction: row;
}


.messageSenderClass, .messageRecipientClass, .messageReceiverClass{
  width: 20%;
  margin: 0;
}


.messageSubjectClass{
  width: 70%;
  padding: 0.5% 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.messageSenderClass, .messageRecipientClass, .messageSubjectClass{
  padding-top: 0.4%;
}

.cardButtonClass{
  width: 10%;
  height: 50%;
  margin-left: -3%;
  outline: none !important;
}

.notReadClass{
  font-weight: bolder;
  font-size: small;
}

/* ----------------------------------------------------------------------------------------------------------------- */

.paginationClass{
  background-color: #f6fbff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width: 100%;
}

.paginationBarClass{
  background-color: #c9d2d2;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.previousPageClass{
  height: 100%;
  width: 30%;
}

.pageValueClass{
  height: 100%;
  width: 40%;
}

.nextPageClass{
  height: 100%;
  width: 30%;
}
