<div class="myPurchasesClass">

  <!-- PURCHASES + PAGINATION -->
  <div class="ppGroup">

    <!-- CARDS -->
    <div class="cardsGroup">

      <!-- CARD -->
      <mat-card class="cardClass" *ngFor="let thumbnail of this.purchaseThumbnails; let i=index">

        <!-- CARD IMAGE -->
        <div class="cardImageClass">
          <!-- IMAGE -->
          <img class="imageClass" (click)="purchaseInfo(i)"
               src="{{this.serverLink}}{{this.serverParameter}}/{{thumbnail.id}}/{{thumbnail.images[imageLinks[i]]}}">
          <!-- NEXT IMAGE -->
          <button class="page-link nextImageClass fa fa-angle-right fa-2x" (click)="getNextImage(i)"></button>
          <!-- PREVIOUS IMAGE -->
          <button class="page-link previousImageClass fa fa-angle-left fa-2x" (click)="getPreviousImage(i)"></button>
        </div>


        <!-- CONTENT -->
        <div class="cardContentClass">

          <mat-card-title class="card-title auctionNameField" (click)="purchaseInfo(i)">{{thumbnail.name}}</mat-card-title>

          <label class="textLabel" for="priceField">Cost</label>
          <mat-card-content id="priceField" class="priceField" (click)="purchaseInfo(i)">${{this.utilService.reformatNumber(thumbnail.cost)}}</mat-card-content>

          <!-- CONTACT SELLER BUTTON -->
          <button mat-flat-button color="primary" class="contactButton" (click)="contactSeller(i)">Contact Seller</button>


        </div>



      </mat-card>


    </div>

    <!-- PAGINATION -->
    <div class="paginationClass">

      <div class="paginationBarClass">

        <!-- PREVIOUS PAGE BUTTON -->
        <button class="page-link previousPageClass" (click)="getPreviousPage()" [hidden]="this.totalPages<1"
                [disabled]="this.pageIndex<=1">&laquo;
        </button>

        <!-- PAGE VALUE BUTTON -->
        <div class="page-link pageValueClass" [hidden]="this.totalPages<1">{{this.pageIndex}} / {{this.totalPages}}</div>

        <!-- NEXT PAGE BUTTON -->
        <button class="page-link nextPageClass" (click)="getNextPage()" [hidden]="this.totalPages<1"
                [disabled]="this.pageIndex>=this.totalPages">
          &raquo;
        </button>

      </div>




    </div>

  </div>


</div>
