* {
  box-sizing: border-box;

}

body{

}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.browse{
  /* BROWSE HEIGHT + SEARCH BAR HEIGHT = 100VH */
  min-height: 93vh;
  margin: 1% 0 0;
}

.filters{
  align-items: center;
  min-height: 100%;
  width: 20%;
  margin: 0;
}

.buyNow{
  width: 90%;
  margin: 25% 0 0;
  align-items: center;
}

.checkBox{
  padding: 0;
}

input{
  font-size: small;

}

.buyNowText{
  padding: 0;
  font-weight: bold;
  font-size: small;
}

.priceRange{
  align-items: start;
  width: 90%;
  margin: 12% 0 0;
}

._label{
  margin: 0 0 3% 2%;
  font-size: small;
}

.range{
  width: 100%;
  margin: 1% 0 0;
}

.minPrice, .maxPrice{
  border: gray 1.3px solid;
  height: 30px;
  width: 40%;
  margin: 0 0 0 0;
  border-radius: 4px;
  text-align: center;
  outline: none;
  padding: 0 1%;
}

.maxPrice{
  margin-left: 10%;
}

.location{
  width: 90%;
  margin: 15% 0 0;
}

.region{
  border: gray 1.3px solid;
  height: 30px;
  width: 90%;
  margin: 1% 0 0;
  outline: none;
  border-radius: 4px;
  text-align: center;
}

.search{
  width: 90%;
  margin: 20% 0 0;
}

.searchButton{
  width: 90%;
  font-size: small;
}

.cardsPagination{
  /* HERE */
  border-left: rgba(128, 128, 128, 0.22) 1px solid;
  min-height: 100%;
  width: 80%;
  padding: 0;
  margin: 0;
}

.cards{
  align-items: center;
  padding: 1% 0 0 0;
  margin: 4% 0 0;
  min-height: 90vh;
}

.card{
  display: flex;
  flex-direction: row;
  min-height: 200px;
  height: 25vh;
  width: 95%;
  min-width: 300px;
  padding: 0;
  margin: 0 0 1% 0;
}

.cardImage {
  justify-content: center;
  border:  rgba(0, 0, 0, 0.05) 1px solid;
  position: relative;
  height: 100%;
  min-width: 25%;
  max-width: 25%;
  padding: 0;
  margin: 0;

}

.image{
  height: 100%;
  width: 70%;
  padding: 0;
  margin: 0;
}

.nextImage ,.previousImage{
  height: 100%;
  width: 15%;
  box-shadow: none;
  position: absolute;
  top: 0;
  background:transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: black;
}

.nextImage{
  right: 0;
}

.previousImage{
  left: 0;
}

.cardContent{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 75%;
  padding:0;
  margin: 0;
  overflow: hidden;

}


.customGroup{
  justify-content: center;
}

.auctionName, .highestBid, .countryField{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
  padding: 0 0 1% 0;
}

.auctionName{
  font-size: x-large;
  font-weight: 600;
  margin: 2% 0 0 2%;
}


.textLabel{
  margin: 2.5% 0 0 2%;
  font-weight: bold;
  font-size: large;
}

.highestBid{
  font-size: medium;
  margin: 0 0 0 2%;
  font-weight: 400;
}

.countryField{
  margin: 5% 0 0 2%;
  font-weight: 500;
  font-size: medium;
}

.location{
  font-weight: 500;
}


/* ------------------------------------------------------------------------------------------------------------------ */

.pagination{
  justify-content: center;
  align-items: start;
  padding: 0;
  margin: 0;
}

.paginationBar{
  justify-content: center;
  width: 50%;
  padding: 0;
  margin: 0.3%;
}

.previousPage ,.pageValue, .nextPage{
  background: rgba(168, 165, 165, 0.09);
  text-align: center;
  width: 20%;
  box-shadow: none;
}

.previousPage, .nextPage{
  border: gray 1px solid;
}

.pageValue{
  border: none;
  border-top: gray 1px solid;
  border-bottom: gray 1px solid;
}
