
<!-- SEARCH BAR -->
<search-bar class="searchBar" [query]="this.dfltQuery" [category]="this.dfltCategory"></search-bar>

<div class="browse row">


  <!-- FILTERS -->
  <div class="filters column" >

    <!-- BUY NOW -->
    <div class="buyNow row">

      <mat-checkbox class="checkBox" [(ngModel)]="this.dfltBuyNow" >
        <span class="buyNowText">Buy Now</span>
      </mat-checkbox>

    </div>

    <!-- PRICE RANGE -->
    <div class="priceRange column">

      <!-- LABEL -->
      <label for="range" class="_label">Price Range</label>

      <!-- RANGE -->
      <div id="range" class="range row" [formGroup]="priceRangeForm">

        <!-- MIN PRICE -->
        <input class="minPrice" formControlName="minPrice" placeholder="0 $">

        <!-- MAX PRICE -->
        <input class="maxPrice" formControlName="maxPrice" placeholder="1000+ $">
      </div>

    </div>

    <!-- LOCATION -->
    <div class="location column">

      <!-- LABEL -->
      <label for="region" class="_label">Location</label>

      <!-- REGION -->
      <input id="region" class="region" [(ngModel)]="this.location" placeholder="England">
    </div>

    <!-- APPLY FILTERS -->
    <div class="search column">

      <!-- BUTTON -->
      <button type="button" class="btn btn-outline-info searchButton" (click)="submitFilters()">Filter</button>

    </div>

  </div>

  <!-- CARDS + PAGINATION -->
  <div class="cardsPagination column">

    <!-- CARDS -->
    <div class="cards column">

      <!-- EACH CARD -->
      <mat-card class="card" *ngFor="let thumbnail of this.browsingAuctionThumbnails; let i=index">

        <!-- IMAGE GROUP -->
        <div class="cardImage row">
          <!-- IMAGE -->
          <img class="image" (click)="auctionInfo(i)"
               src="{{serverLink}}{{serverParameter}}/{{thumbnail.id}}/{{thumbnail.images[imageLinks[i]]}}">
          <!-- NEXT IMAGE -->
          <button class="page-link nextImage fa fa-2x fa-angle-right" (click)="getNextImage(i)"></button>
          <!-- PREVIOUS IMAGE -->
          <button class="page-link previousImage fa fa-2x fa-angle-left" (click)="getPreviousImage(i)"></button>
        </div>

        <!-- CARD CONTENT -->
        <div class="cardContent column">

          <!-- NAME -->
          <h5 class="auctionName card-title" (click)="auctionInfo(i)">{{thumbnail.name}}</h5>

          <!-- HIGHEST BID -->
          <label for="highestBid" class="textLabel card-title">Highest Bid</label>

          <p id="highestBid" class="highestBid">${{this.utilService.reformatNumber(thumbnail.highestBid>thumbnail.firstBid
            ? thumbnail.highestBid : thumbnail.firstBid)}}</p>

          <!-- COUNTRY -->
          <p class="countryField">From {{thumbnail.country}}!</p>

        </div>

      </mat-card>


    </div>

    <!-- PAGINATION -->
    <div class="pagination row">

    <!-- PAGINATION BAR -->
      <div class="paginationBar row">

        <!-- PREVIOUS PAGE BUTTON -->
        <button class="page-link previousPage" (click)="getPreviousPage()" [hidden]="this.totalPages<1"
                [disabled]="this.pageIndex<=1">&laquo;
        </button>

        <!-- PAGE VALUE BUTTON -->
        <div class="page-link pageValue" [hidden]="this.totalPages<1">{{this.pageIndex}}
          / {{this.totalPages}}</div>

        <!-- NEXT PAGE BUTTON -->
        <button class="page-link nextPage" (click)="getNextPage()" [hidden]="this.totalPages<1"
                [disabled]="this.pageIndex>=this.totalPages">
          &raquo;
        </button>


      </div>

    </div>

  </div>


</div>
