
.deleteDialogClass{
  display: flex;
  flex-direction: column;
}

.messageClass{
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 0.2em;
}

.buttonsClass{
  display: flex;
  flex-direction: row;
}

.approveClass{
  width: 49%;
}

.rejectClass{
  width: 49%;
  margin-left: 1%;
}
